@import './assets/css/transitions.css';

:root {
	--neutral-black: #180e25;
	--black: #000000;
	--white: #ffffff;
	--light-primary: #404040;

	--accent-color-primary: #f9b803;
	--accent-color-second: #c8a0fb;
	--accent-color-last: #afd0ff;
	--brand-color: #263059;

	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: var(--neutral-black);
	background-color: var(--white);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

#app {
	margin: 0 auto;
	text-align: center;
	box-sizing: border-box;
}

body {
	margin: 0;
}

@media (prefers-color-scheme: light) {
	:root {
		color: var(--neutral-black);
		background-color: var(--white);
	}
	a:hover {
		color: var(--accent-color-last);
	}
	button {
		background-color: var(--white);
		color: var(--black);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		color: var(--neutral-black);
		background-color: var(--white);
	}
	a:hover {
		color: var(--accent-color-last);
	}
	button {
		background-color: var(--white);
		color: var(--black);
	}
}
